<h1>Welcome to eInventory</h1>
<% if user_signed_in? %>
  <%= link_to "#{current_user.email} Profile", edit_user_registration_path %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
  <% if current_user.admin? %>
    <ol>
      <li><%= link_to "Manage Users", users_path %></li>
      <li><%= link_to "Manage Locations", locations_path %></li>
      <li><%= link_to "Manage Departments", departments_path %></li>
      <li><%= link_to "Manage Job Titles", job_titles_path %></li>
    </ol>
  <% end %>
<% else %>
  <%= link_to "Sign In", new_user_session_path %>
<% end %>
