<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title" id="page-title">
    Quick Add Assignment
  </h1>
  <div>
    <%= link_to 'Back', admin_assignments_path, class: "button" %>
  </div>
</header>

<%= simple_form_for(@assignment, url: assignments_quick_create_path, method: :post, html: { class: "form" }) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs field-unit--string">
    <div class="field-unit__field">
      <%= f.input :user_search, as: :string, hint: 'Enter a last name, employee number, first and last name' %>
    </div>
    <div class="field-unit__field">
      <%= f.input :tablet_search, as: :string, label: "Tablet", hint: 'Enter a asset tag, or phone number' %>
    </div>
    <div class="field-unit__field">
      <%= f.input :cell_search, as: :string, label: "Cell Phone", hint: 'Enter phone number, ex. 123-123-1234' %>
    </div>
    <div class="field-unit__field">
      <%= f.input :smart_charger, as: :boolean %>
    </div>
    <div class="field-unit__field">
      <%= f.input :cell_phone_charger, as: :boolean %>
    </div>
    <div class="field-unit__field">
      <%= f.input :tablet_keyboard, as: :boolean %>
    </div>
    <div class="field-unit__field">
      <%= f.input :tablet_mouse, as: :boolean %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
