<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title ||= 'eInventory' %></title>
    <%= favicon_link_tag 'eInventory_logo.png', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <%= render "layouts/navbar" %>
  </header>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="app-container">
      <main class="main-content" role="main">
        <p class="alert"><%= alert %></p>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
